.container-input {
    display: flex;
    gap: 20px;
    position: absolute;
    padding: 10px;
    right: 110px;
    top: 0;
    margin-top: 5px;   
}

.container-input .input {
    padding: 10px 40px;
    padding-left: 30px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    position: relative;
}

#search-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transform: scale(1.4);
    padding: 2px;
    border-radius: 50%;
}


body.dark #search-icon {
    background-color: var(--bg-theme-white);
    color: var(--text-theme-white);
}

body.light #search-icon {
    background-color: var(--bg-theme-black);
    color: var(--text-theme-black);
}