@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("root.css");
@import url("animations.css");

@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
    
    
}

/*====== Aqui fica a manipulação dos temas =======*/

body.dark {
    background-color: var(--bg-theme-black);
    color: var(--text-theme-black);
    transition: var(--transition-3) background-color;
}

body.light {
    background-color: var(--bg-theme-white);
    color: var(--text-theme-white);
    transition: var(--transition-3) background-color;
    
}

body.dark a {
    color: var(--text-theme-black);
    
}

body.light a {
    color: var(--text-theme-white);
    
}

body.dark i#toggle-icon {
    color: var(--bg-theme-white);
}

body.light i#toggle-icon {
    color: var(--bg-theme-black);
}

body.dark #header-title {
    color: var(--text-theme-black);
}


body.light #header-title {
    color: var(--text-theme-white);
}

body.light span#segundo {
    color: var(--text-theme-white);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    height: 200px;
    position: relative;
}

h1#header-title {
    text-transform: uppercase;
    font-family: ArialBlack;
    display: flex;
    flex-direction: column;
    width: 170px;
    position: relative;
    height: 150px;
}

span.purple {
    color: var(--color-second);
    position: absolute;
}

span.line-light {
    color: var(--text-theme-black);
    position: relative;
}

span#primeiro {
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: opacityEffect;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    
}



span#terceiro {
    animation-name: opacityEffect;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
}

span#segundo {
    top: 50px;
    left: 40px;
    opacity: 0;   
    animation-name: opacityEffect;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
}

span#terceiro {
    right: 0;
    bottom: 0;
    opacity: 0;
    animation-name: opacityEffect;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1.1s;
}

span#quarto {
    transform: translateX(96px) translateY(5.4px);
    opacity: 0;
    animation-name: positionEffect;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}


div.toggle-container {
    display: flex;
    width: 60px;
    height: 60px;
    gap: 20px;
    padding: 20px 15px;
    border-radius: var(--circle);
    background-color: var(--color-second);
    position: absolute;
    right: 120px;
    cursor: pointer;
    transition: var(--transition-3) transform;
    align-items: center;
    justify-content: center;
    
    
}


div.toggle-container.enabled-animation {
    animation-name: rotateCircleEffect;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


 
i#toggle-icon {
    transform: scale(2.3);
}


nav {
    background-color: var(--color-primary);
    transition: var(--transition-3) all;
    height: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
}

nav.is-visible {
    height: 60px;
}


.menu-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33px;
    cursor: pointer;
}

.menu-hamburguer-bar {
    width: 100%;
    background-color: var(--color-second);
    height: 5px;
    border-radius: var(--border-radius-4);
}

.menu {
    display: flex;
    gap: 100px;
    height: 100%;
    background-color: var(--color-second);
    justify-content: center;
    overflow: hidden;
   
    
}

.menu li a{
    display: inline-block;
    height: 100%;
    font-size: 20px;
    padding: 13px;
    
}

.menu li a {
    animation-name: zoomEffect;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.submenu {
    position: absolute;
    background-color: var(--color-primary);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: max-content;
    width: 150px;
    padding-bottom: 10px;
    
}


.submenu li a {
    width: 100%;
    
    
}

.menu li:hover .submenu {
    display: flex;
}


.menu li a:hover {
    background-color: black;
    color: white;
    
}

.submenu li a:hover {
    background-color: var(--color-second);
    color: black;
    background-color: black;
    color: white;
}

.promocao-container {
    width: 100%;
    display: flex;
    height: 200px;
    margin-top: 50px;
    justify-content: center;
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--color-second);
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-image {
    opacity: 1;
    width: 140px;
    animation-name: zoomEffect;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.section-produtos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.produtos {
    display: flex;
    width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}



