@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


:root {
    --color-primary: #A681FA;
    --color-second: #9400FF;
    --black-transparent: rgba(0, 0, 0, 0.4);
    --transition-3: .3s;

    /*        Tema escuro             */
    --bg-theme-black: rgb(24, 21, 21);
    --text-theme-black: rgb(255, 255, 255);


    /*        Tema claro               */
    --bg-theme-white: rgba(255, 255, 255, 0.986);
    --text-theme-white: rgb(24, 21, 21);

    --border-radius-4: 4px;
    --circle: 50px;
}

@font-face {
    font-family: ArialBlack;
    src: url("../fonts/arial-black.ttf");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
    
    
}

/*====== Aqui fica a manipulação dos temas =======*/

body.dark {
    background-color: var(--bg-theme-black);
    color: var(--text-theme-black);
    transition: var(--transition-3) background-color;
}

body.light {
    background-color: var(--bg-theme-white);
    color: var(--text-theme-white);
    transition: var(--transition-3) background-color;
    
}

body.dark a {
    color: var(--text-theme-black);
    
}

body.light a {
    color: var(--text-theme-white);
    
}

body.dark i#toggle-icon {
    color: var(--bg-theme-white);
}

body.light i#toggle-icon {
    color: var(--bg-theme-black);
}

body.dark #header-title {
    color: var(--text-theme-black);
}


body.light #header-title {
    color: var(--text-theme-white);
}

body.light span#segundo {
    color: var(--text-theme-white);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    height: 200px;
    position: relative;
}

h1#header-title {
    text-transform: uppercase;
    font-family: ArialBlack;
    display: flex;
    flex-direction: column;
    width: 170px;
    position: relative;
    height: 150px;
}

span.purple {
    color: var(--color-second);
    position: absolute;
}

span.line-light {
    color: var(--text-theme-black);
    position: relative;
}

span#primeiro {
    top: 0;
    left: 0;
}

span#segundo {
    top: 50px;
    left: 40px;
    
}




span#terceiro {
    right: 0;
    bottom: 0;
}

span#quarto {
    transform: translateY(5.4px) translateX(95px);
    animation-name: animacao1;
    animation-fill-mode: forwards;
    animation-duration: 1.3s;
    animation-timing-function: ease;
}

div.toggle-container {
    display: flex;
    width: 60px;
    height: 60px;
    gap: 20px;
    padding: 20px 15px;
    border-radius: var(--circle);
    background-color: var(--color-second);
    position: absolute;
    right: 120px;
    cursor: pointer;
    transition: var(--transition-3) transform;
    align-items: center;
    justify-content: center;
}

 
i#toggle-icon {
    transform: scale(2.3);
}


nav {
    background-color: var(--color-primary);
    transition: var(--transition-3) all;
    height: 0;
    width: 100%;
    position: absolute;
}

nav.is-visible {
    height: 60px;
}


.menu-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33px;
    cursor: pointer;
}

.menu-hamburguer-bar {
    width: 100%;
    background-color: var(--color-second);
    height: 5px;
    border-radius: var(--border-radius-4);
}

.menu {
    display: flex;
    gap: 100px;
    height: 100%;
    background-color: var(--color-second);
    justify-content: center;
    overflow: hidden;
    
}

.menu li a{
    display: inline-block;
    height: 100%;
    font-size: 20px;
    padding: 13px;
}

.submenu {
    position: absolute;
    background-color: var(--color-primary);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: max-content;
    width: 150px;
    padding-bottom: 10px;
    
}


.submenu li a {
    width: 100%;
    
    
}

.menu li:hover .submenu {
    display: flex;
}


.menu li a:hover {
    background-color: black;
    color: white;
}

.submenu li a:hover {
    background-color: var(--color-second);
    color: black;
    background-color: black;
    color: white;
}

.promocao-container {
    width: 100%;
    display: flex;
    height: 200px;
    margin-top: 200px;
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--color-second);
}



/*  ====== Animações ======  */
@keyframes animacao1 {
    to {
        transform: translateY(60px) translateX(66px);
        color: var(--color-second);
    }
}